
h1{
    color:palevioletred;
    text-align: center;
   
}
p{
    color:white;
}

hr{
    width:70%;
}
.char{
    text-align: center;
    height:auto;
   
}
.footer{
    text-align: center;
    background-color:#ccc;
    height:50px;
    line-height:50px;
}
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background:pink;
}