* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ccc;
}

.b {
    border: solid 2px white;
}

.header {
    background-color: pink;
    height: 75px;
    margin: 20px;
}

.container {
    display: flex;
}

.mg {
    margin: 0 20px 0 20px;
}

.left {
    height: 100%;
    width: 60%;
    margin-right: 20px;
}

.right {
    height: 500px;
    width: 40%;
    margin-left: 5px;
}

.topleft {
    background-color: #4ceba9;
    height: 400px;
    margin-bottom: 20px;
}

.botleft {
    height: 400px;
}

.botleft1 {
    width: 50%;
    margin-right: 20px;
}

.botright1 {
    background-color: #f000ff;
    width: 50%;
    margin-left: 5px;
}

.botop {
    background-color: red;
    height: 40%;
    margin-bottom: 20px;
}

.bot {
    background-color: #ff6d00;
    height: 55%;
}

.right {
    height: 500px;
}

.topright {
    height: 35%;
    margin-bottom: 20px;
}

.side {
    background-color: purple;
    width: 80%;
    margin-right: 10px;
}

.side2 {
    background-color: seagreen;
    width: 20%;
    margin-left: 10px;
}

.midright {
    height: 100%;
    margin: 10px 0 10px 0;
}

.midtop {
    background-color: yellow;
    height: 20%;
    margin-bottom: 20px;
}

.midbot {
    height: 78%;
    margin: 10px 0 10px 0;
}

.box {
    background-color: teal;
    width: 32%;
}

.botright {
    background-color: #ca9e61;
    height: 19%;
    margin-top: 30px;
}

.footer {
    background-color: black;
    height: 100px;
    margin: 20px;
}