* {
  font-family: "Open Sans", HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

a {
  text-decoration: none !important;
  font-size: 0.929em !important; }

.navbar {
  padding: 0 !important; }

.top {
  padding: 2em 0;
  display: flex; }

.logo {
  min-width: 300px;
  max-width: 300px;
  padding: 0 15px; }

.navbar-search {
  width: 791px !important;
  margin: 2px !important; }

.form {
  padding: 3px 15px;
  width: 791px; }

.input-search {
  padding: 4.5px 32px;
  border-radius: 1.571em !important;
  border: solid 2px #0fc567 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: 0 !important;
  width: 473px !important; }

.form2 {
  border: solid 2px #0fc567 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  width: 150px; }

.pi {
  border: solid 2px #0fc567 !important;
  border-radius: 1.571em !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  background-color: #0fc567; }

.header-icon {
  width: 100px;
  padding: 0 15px;
  text-align: center; }

.pa1 {
  padding: 0 !important; }
  .pa1 a {
    padding: .786em 1em !important;
    color: #0fc567 !important;
    font-weight: 700;
    font-size: 14px !important; }
  .pa1 .psub a {
    padding: 5px 0; }

.container {
  max-width: 1260px !important; }

img {
  height: auto;
  max-width: 100%;
  display: block; }

.title {
  display: flex; }
  .title h4 {
    font-size: 16px;
    color: #0fc567;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 10px;
    text-align: center; }
  .title .text-succes {
    color: #0fc567 !important; }

.pl_15 {
  padding: 0 15px; }

hr {
  width: 73%;
  color: #0fc567;
  background-image: linear-gradient(to right, #2cbe53, transparent); }

.title {
  margin-bottom: 35px; }

.laptop {
  margin-bottom: 35px !important; }
  .laptop .img {
    margin-bottom: 5px; }
  .laptop h4 {
    font-size: 18px !important;
    font-weight: 700; }
  .laptop .contentLaptop {
    font-size: 14px !important; }
  .laptop h2 {
    font-size: 14px; }
  .laptop ins {
    text-decoration: none;
    color: red;
    font-size: 20px; }

.buttonSee {
  margin-top: 20px;
  text-align: center; }
  .buttonSee .button {
    background-color: #0fc54c;
    color: white;
    padding: 10px 5px; }

.element {
  padding: 25px 0;
  margin-bottom: 35px; }

.info p {
  font-size: 14px; }

ul {
  padding: 0 !important; }
  ul li {
    list-style: none; }

.menuu li {
  border-bottom: solid 1px rgba(168, 168, 168, 0.3); }

.w-drop {
  min-width: 60rem !important;
  padding: 0 !important;
  margin: 0 !important; }

.psub a {
  padding: 5px 0 !important;
  color: black !important; }

.megaMenu p {
  font-weight: 600;
  margin: 0 !important;
  font-size: 14px !important; }
.megaMenu ul li {
  font-size: 13px !important;
  padding: 5px 0; }

.hmega {
  padding: 20px 26px 70px 26px !important; }

#navbarDropdowna:hover {
  background-color: #0fc54c !important; }

.dropdown:hover > .dropdown-menu {
  display: block;
  top: 100%; }

.h2sub {
  margin: 0 !important;
  padding-left: 20px;
  padding-right: 10px;
  width: 130px; }
  .h2sub ul li {
    font-size: 13px !important;
    padding: 5px 14px; }

/*# sourceMappingURL=style.css.map */
